*{
    box-sizing: border-box;
}

body{
    background-color: #212529 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-container{
    /* width: 600px; */
    margin: 30px auto 0;
    background-color: #f6f6f6;
}

.todo-container .add-task{
    padding: 15px;
    background-color: #009688;
    position: relative;
}

.todo-container .add-task input{
    display: inline-block;
    padding: 7px 15px;
    border: none;
    background-color: rgba(255, 255, 255, .3);
    width: calc(100% - 15px);
    color: #ffff;
    font-size: 20px;
}

.todo-container .add-task input:focus{
    outline: none;
}

.todo-container .add-task .plus{
    position: absolute;
    height: 43px;
    width: 43px;
    background-color: #fff;
    right: 12px;
    border-radius: 50%;
    line-height: 39px;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    color: #009688;
    cursor: pointer;
    transition: transform .5s;
}

.todo-container .add-task .plus:hover{
    transform: scale(1.05)
}

.todo-container .task-content {
    padding: 15px;
}

.todo-container .task-content .no-tasks-message{
    color: #777;
    font-size: 15px;
}

.todo-container .task-content > span{
    display: block;
    background-color: #fff;
    padding: 10px;
    
}

.todo-container .task-content > span:not(:last-child){
    margin-bottom: 10px;
}

.todo-container .task-content .task-box .delete {
    float: right;
    background-color: #e91e63;
    color: #fff;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.todo-container .task-content .task-box.finished{
    text-decoration: line-through;
}

.finish-delete .finish-all{
    float: right;
    background-color: #03A9f4;
    padding: 1px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.finish-delete .delete-all{
    float: right;
    background-color: #E91E63;
    padding: 1px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.finish-delete .delete-all .finished{
    text-decoration: line-through;
}
.finished {
    text-decoration: line-through;
}


.task-stats{
    overflow: hidden;
    margin: 10px auto;
    /* width: 600px; */
    font-size: 12px;
}

.task-stats .tasks-count{
    width: 50%;
    float: left;
    padding: 10px;
}

.task-stats .tasks-completed{
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
}

.task-stats .tasks-count span,
.task-stats .tasks-completed span{
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.task-stats .tasks-count span{
    background-color: #e91e63;
}

.task-stats .tasks-completed span{
    background-color: #03a9f4 ;
}